<h2>Uczestnik: {{student.name}} {{student.surname}}</h2>
<p>
	{{link-to 'Back' 'students.index' class="btn btn-default"}}
	{{link-to 'Edit' 'students.edit' student.id class='btn btn-primary'}}
</p>

<div class="panel panel-default">
	<div class="panel-heading">
		Student details
	</div>
	<div class="panel-body">
		<p><b>Phone Nr:</b> {{student.phone_nr}}</p>
		<p><b>Address:</b> {{student.address}}</p>
		<p>
			<b>Group:</b> {{student.studentGroup.name}}
		</p>
		<hr />
	  {{presence-indicator student=student}}
	</div>
</div>
