<h2>Uczestnik: {{model.name}} {{model.surname}}</h2>
<p>
	{{link-to 'Powrót' 'students.index' class="btn btn-default"}}
	{{link-to 'Edytuj' 'students.edit' model class='btn btn-primary'}}
</p>

<div class="panel panel-default">
	<div class="panel-heading">
		Szczegóły uczestnika
	</div>
	<div class="panel-body">
		<p><b>Telefon:</b> {{model.phone_nr}}</p>
		<p><b>Adres:</b> {{model.address}}</p>
	</div>
</div>
