{{#container-header title="Student details" filterable=false}}
	{{#link-to 'students.edit' model.id class='container-header__link'}}
	  <i class="fa fa-pencil-square"></i> Edit
	{{/link-to}}
	{{#link-to 'students.index' class='container-header__link'}}
	  <i class="fa fa-arrow-circle-left"></i> Back
	{{/link-to}}
{{/container-header}}

<div class="container-content">
	<p><b>Phone Nr:</b> {{model.phone_nr}}</p>
	<p><b>Address:</b> {{model.address}}</p>
	<p>
		<b>Group:</b> {{model.studentGroup.name}}
	</p>
	<hr />
	<div class="row">
	  <div class="col-md-6">{{presence-indicator student=model}}</div>
	  <div class="col-md-6">
			Payment status:
			{{#if model.hasUnpaidPayments}}
			  <span class="text-danger">overdue</span>
			{{else}}
			  <span class="text-success">paid</span>
			{{/if}}
		</div>
	</div>
</div>
