{{#if showFilter}}

	<div class="row">
		<div class="col-md-4">
			{{input value=filter class="form-control" placeholder="Search by name"}}
		</div>
		<div class="col-md-3 text-center">
			<div class="checkbox">
				<label>
					{{input type="checkbox" checked=terms}}
					Terms not accepted
				</label>
			</div>
		</div>
		<div class="col-md-5 form-inline">
			<div class="form-group">
				<label>Group:</label>
				<select onchange={{action 'groupSelected' value="target.value"}} class="form-control">
					<option value="all">All</option>
					{{#each group in groups}}
					<option value="{{group.id}}">{{group.name}}</option>
					{{/each}}
				</select>
			</div>
		</div>
	</div>

<hr>
{{/if}}

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Imię</th>
			<th>Nazwisko</th>
			<th>Nr telefonu</th>
			<th>Wpłata</th>
			<th>Oddany regulamin</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		{{#each student in filteredStudents}}
      {{students-list/item
        student=student
				addPayment=attrs.addPayment
				addTermsAccepted=attrs.addTermsAccepted
				deleteStudent=attrs.deleteStudent
      }}
		{{/each}}
	</tbody>
</table>
