{{log students}}
<div class="row">
	<div class="col-md-4">
		{{input value=filter class="form-control"}}
	</div>
	<div class="col-md-3">
		<div class="checkbox">
			<label>
				{{input type="checkbox" checked=terms}}
				Bez oddanego regulaminu
			</label>
		</div>
	</div>
	<div class="col-md-3 form-inline">
		<label>Grupa:</label>
		<select onchange={{action 'groupSelected' value="target.value"}} class="form-control">
			<option value="all">Wszystkie</option>
			{{#each group in groups}}
			<option value="{{group.id}}">{{group.name}}</option>
			{{/each}}
		</select>
	</div>
</div>

<hr>

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Imię</th>
			<th>Nazwisko</th>
			<th>Nr telefonu</th>
			<th>Wpłata</th>
			<th>Oddany regulamin</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		{{#each student in filteredStudents}}
      {{students-list/item
        student=student
				addPayment=attrs.addPayment
				addTermsAccepted=attrs.addTermsAccepted
				deleteStudent=attrs.deleteStudent
      }}
		{{/each}}
	</tbody>
</table>
