<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label for="date">Data:</label>
      {{pikaday-input value=list.date class="form-control"}}
    </div>
  </div>
  <div class="col-md-9">
    <div class="form-group">
      {{neo-select
        label="Course"
        collection=courses
        property=list.course
        valuePath="id"
        labelPath="name"
        validations="required"
        valid=courseChosen
        disabled=isCourseSelectBlocked
      }}
    </div>
  </div>
</div>

<table class="table table-bordered js-students-list">
  {{presence-list-items model=filteredStudents}}
</table>
<div class="form-group">
  <button class="btn btn-primary" {{action "saveList"}} disabled={{isSubmitDisabled}}>Zapisz</button>
</div>
